<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <head th:replace="layout/layout :: head"/>
    <script>
        function upperCaseF(a) {
            setTimeout(function () {
                a.value = a.value.toUpperCase();
            }, 1);
        }
    </script>
    <body>

        <header th:replace="layout/layout :: header"/>

        <div class="container py-4">
            <div class="card bg-light">
                <div class="card-header" th:text="${titulo}"></div>
                <div class="card-body">


                    <form th:action="@{/form}" th:object="${vehiculo}" method="post" enctype="multipart/form-data">

                        <div class="form-group row">
                            <label for="dominio" class="col-sm-2 col-form-label">Dominio</label>
                            <div class="col-sm-6">
                                <input type="text" th:field="*{dominio}" name="dominio" onkeydown="upperCaseF(this)" 
                                       class="form-control"
                                       th:errorclass="'form-control alert-danger'" placeholder="AB123CD" required autofocus/> <small
                                       class="form-text text-danger"
                                       th:if="${#fields.hasErrors('dominio')}" th:errors="*{dominio}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="tipo_vehic" class="col-sm-2 col-form-label">Tipo
                                Vehiculo</label>
                            <div class="col-sm-6">
                                <!--                                <select class="form-control">
                                                                    <option th:each="tipo_vehic : ${T(com.springboot.playa.app.models.entity.TipoVehiculo).values()}"
                                                                            th:value="${tipo_vehic}"
                                                                            th:text="${tipo_vehic.displayName}">
                                                                    </option>
                                                                </select>-->
                                <select th:field="*{tipo_vehic}" class="form-control" autofocus required>
                                    <option value=""  selected="selected">Tipo de Vehículo</option>
                                    <option value="AUTO">AUTO</option>
                                    <option value="MOTO">MOTO</option>
                                    <option value="CAMIONETA">CAMIONETA</option>
                                    <option value="CAMION">CAMION</option>
                                    <option value="UTILITARIO">UTILITARIO</option>
                                    <option value="OTRO">OTRO</option>
                                </select>

                                <!--                              <input type="text" th:field="*{tipoVehic}" class="form-control" />-->
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('tipo_vehic')}"
                                       th:errors="*{tipo_vehic}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="marca_vehic" class="col-sm-2 col-form-label">Marca
                                Vehiculo</label>
                            <div class="col-sm-6">
                                <!--                                <select class="form-control">
                                                                    <option th:each="marca_vehic : ${T(com.springboot.playa.app.models.entity.MarcaVehiculo).values()}"
                                                                            th:value="${marca_vehic}"
                                                                            th:text="${marca_vehic.displayName}">
                                                                    </option>
                                                                </select>-->
                                <select th:field="*{marca_vehic}" class="form-control" autofocus required>
                                    <option value=""  selected="selected">Marca del Vehiculo</option>
                                    <option value="AUDI">AUDI</option>
                                    <option value="CHEVROLET">CHEVROLET</option>
                                    <option value="BMW">BMW</option>
                                    <option value="FIAT">FIAT</option>
                                    <option value="PEUGEOT">PEUGEOT</option>
                                    <option value="VOLVO">VOLVO</option>
                                    <option value="CITROEN">CITROEN</option>
                                    <option value="CHRYSLER">CHRYSLER</option>
                                    <option value="OTRO">OTRO</option>
                                </select>
                                <!--<input type="text" th:field="*{marca_vehic}" class="form-control" />-->
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('marca_vehic')}"
                                       th:errors="*{marca_vehic}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="desc_vehic" class="col-sm-2 col-form-label">Descripción
                                Vehiculo</label>
                            <div class="col-sm-6">
                                <!--                                <select class="form-control">
                                                                    <option th:each="desc_vehic : ${T(com.springboot.playa.app.models.entity.DescVehiculo).values()}"
                                                                            th:value="${desc_vehic}"
                                                                            th:text="${desc_vehic.displayName}">
                                                                    </option>
                                                                </select>-->
                                <select th:field="*{desc_vehic}" class="form-control" autofocus required>
                                    <option value=""  selected="selected">Descripción Vehiculo</option>
                                    <option value="SEDAN 3 PUERTAS">SEDAN 3 PUERTAS</option>
                                    <option value="SEDAN 4 PUERTAS">SEDAN 4 PUERTAS</option>
                                    <option value="MOTO MAS DE 100CC">MOTO MAS DE 100CC</option>
                                    <option value="MOTO MENOS DE 100CC">MOTO MENOS DE 100CC</option>
                                    <option value="UTILITARIO 2 EJES">UTILITARIO 2 EJES</option>
                                    <option value="UTILITARIO MULTI EJES">UTILITARIO MULTI EJES</option>
                                    <option value="OTRO">OTRO</option>
                                </select>

                                <!--<input type="text" th:field="*{desc_vehic}" class="form-control" />-->
                                <small class="form-text text-danger"
                                       th:if="${#fields.hasErrors('desc_vehic')}"
                                       th:errors="*{desc_vehic}"></small>
                            </div>
                        </div>
                        
                         <div class="form-group row">
                            <label for="file" class="col col-sm-2 col-form-label"></label>
                            <div class="col-sm-6">
                            <input type="file" name="file" class="form-control" />
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <input type="submit" value="Crear Vehiculo"
                                       class="btn btn-primary" />
                            </div>
                        </div>
                        <!-- <td><input type="hidden" th:field="*{id}" /></td>-->
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="layout/layout :: footer"></footer>

    </body>
</html>