<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<form th:action="@{/form}" th:object="${vehiculo}" method="post">

					<div class="form-group row">
						<label for="dominio" class="col-sm-2 col-form-label">Dominio</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{dominio}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('dominio')}" th:errors="*{dominio}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="tipo_vehic" class="col-sm-2 col-form-label">Tipo
							Vehiculo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{tipo_vehic}" class="form-control" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('tipo_vehic')}"
								th:errors="*{tipo_vehic}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="marca_vehic" class="col-sm-2 col-form-label">Marca
							Vehiculo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{marca_vehic}" class="form-control" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('marca_vehic')}"
								th:errors="*{marca_vehic}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label for="desc_vehic" class="col-sm-2 col-form-label">Descripción
							Vehiculo</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{desc_vehic}" class="form-control" />
							<small class="form-text text-danger"
								th:if="${#fields.hasErrors('desc_vehic')}"
								th:errors="*{desc_vehic}"></small>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Crear Vehiculo"
								class="btn btn-primary" />
						</div>
					</div>
					<!-- <td><input type="hidden" th:field="*{id}" /></td>-->
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>